{%  extends "base.html"  %} 
{%  block title  %} Contact {%  endblock  %}
{%  block body  %}
{%  block content  %}
<div class="contact-form">
    <h2>Contact Me!</h2>
    <form class="contact">
      <label for="name">Name:</label><br />
      <input type="text" name="name" /><br />
      <label for="email">Email:</label><br />
      <input type="text" name="email" /><br />
      <label for="message">You Message</label><br />
      <input type="text" name="message" /><br />
      <input type="submit" name="Contact" class="botton_size" />
    
    </form>
  </div>
  {%  endblock  %}
  {%  endblock  %}